.entete-admin{
    font-size: 33px;
    color: #009577;
    position: fixed;           /* stays at the top */
    left: 230px;
    top:0;
    right: 0;            /* stays above everything else */
    background-color: white;
    border-bottom: 1px solid #ccc; /* simple gray bottom border */
    box-shadow: 0 2px 4px rgba(197, 11, 11, 0.05); /* optional soft shadow */
    padding: 10px 20px;
  }
  .dash-section{
    margin-top: 9%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    
  }
  .about-us{
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc44;
    border-radius: 20px;
    padding: 15px 9px 1px 15px;
  }
  .left-sec{
    width: 70%;
  }
  .about-us h2{
    font-size: 19px;
    color:#7E7E7E;
    font-family: Poppins;
    margin-bottom: 5px;
  }

  .about-us p{
    margin-top: 9px;
    font-size: 14px;
    font-family: Poppins;
    color: #5E5E5E;

  }
  .about-us .savoire-plus{
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #009577;
    color: #fff;
    font-size: 14px;
  }
  .about-us .paragraphe{
    margin-right: 30px;
  }
  .right-sec{
   border-radius: 20px;
   margin-right: 30px;
   margin-top: 40px;
   padding: 2%;
   height: fit-content;
  }
  .activities-title {
    font-size: 24px;
    font-family: Actor;
    margin-bottom: 15px;
    color: #00261C;
  }
  
  .activity-stats-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .activity-card {
    display: flex;
    align-items: center;
    background-color: #bff0e7;
    border-radius: 15px;
    padding: 12px;
    gap: 12px;
  }
  
  .activity-icon {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
  }
  
  .activity-info p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }
  
  .activity-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  
  .purple .activity-icon {
    background-color: #a786f7;
  }
  
  .green .activity-icon {
    background-color: #60d7b7;
  }
  
  .yellow .activity-icon {
    background-color: #d8b561;
  }
  
  .recent-users {
    margin-top: 25px;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.37);
  }
  
  
  .recent-users-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
  }
  
  .recent-users-table th,
  .recent-users-table td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .recent-users-table th {
    background-color: #f7f7f7;
    color: #444;
  }
  .users-recent{
    color: #00261C;
    margin-top: 30px;
    max-width: 90%;
     font-size: 1.2rem;
    margin-bottom: 10px;
  }
  